@import "./variables";

@mixin upper-background {
  background-color: $main-color;
  position: fixed;
  height: 60%;
  width: 100%;
}

@mixin lower-background {
  @include upper-background();
  background-color: white;
  top: 60%;
}

@mixin image-vector {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin baskets-vectors {
  @include image-vector();
  transform: translate(-50%, -85%);
}

@mixin title-font {
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  margin-top: 3rem;
}

@mixin text-input-box {
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  background: $box-background;
  border: none;
  padding-left: 6%;
  font-family: "josefin-sans", sans-serif;
  font-size: 1.2rem;
}
