@import "./utilities/mixins";
@import "./style.css";
@import "./utilities/variables";

body {
  height: 100vh;
}
main {
  height: 100vh;
  .container {
    height: 100vh;
    position: absolute;

    width: 100%;
    .vector-logo {
      @include image-vector();
    }
    .fruits-vector {
      @include baskets-vectors();
    }
    .orange-background {
      @include upper-background();
    }
    .white-background {
      @include lower-background();
      .content {
        margin-left: 6%;
        margin-right: 6%;
        h1 {
          @include title-font();
        }
        p {
          font-family: "josefin-sans", sans-serif;
          font-style: normal;
          color: $second-color;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          margin-top: 1rem;

          /* or 150% */
          display: flex;
          align-items: flex-end;
          letter-spacing: -0.01em;
        }
        .input-texto {
          margin-top: 5%;
          width: 94%;
          .input-name {
            @include text-input-box();
          }
          .input-name::placeholder {
            color: #969393;
            line-height: normal;
            font-size: 1.1rem;
          }

          // .input-name:read-only {
          //   color: #c2bdbd;
          //   text-align: left;
          //   padding-left: 1.3rem;
          //   font-size: 1rem;
          // }
        }

        button {
          color: white;
          background-color: $main-color;
          border-radius: 10px;
          width: 100%;
          height: 3.5rem;
          font-family: "josefin-sans", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-top: 15%;
          border: none;
        }
      }
    }
    .container-background {
      background: rgb(255, 255, 255);
      background: linear-gradient(
        184deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(241, 239, 246, 1) 100%
      );
      padding-bottom: 19%;
      padding-top: 2%;
    }
    header {
      margin-left: 6%;
      margin-right: 6%;
      margin-top: 5%;
      .image {
        height: 3.4rem;
        #menu {
          display: inline-block;
          position: relative;
          top: 30%;
        }
        #basket {
          float: right;
          position: relative;
          top: 13%;
        }
      }
      p {
        font-family: "josefin-sans", sans-serif;
        letter-spacing: -0.01em;
        strong {
          font-weight: bold;
          font-family: "josefin-sans", sans-serif;
        }
      }
    }
    #filter-option {
      vertical-align: middle;
      display: inline-block;
      margin-top: 6%;
    }
    .container-conteudo {
      margin-left: 6%;
      margin-right: 6%;
      margin-top: -15%;
      .recommended-area {
        h2 {
          @include title-font();
        }
        .cards {
          margin-top: 4%;
          width: 100%;
          height: 11.438rem;
          #card-one {
            @include recommended-cards();
            float: left;
            text-align: center;
            h2 {
              @include card-content-title();
              font-weight: bold;
              text-align: center;
              letter-spacing: -0.01em;
            }
            #money-vector {
              float: left;
            }
            #plus-button {
              float: right;
            }
          }
          #fav-icon {
            float: right;
            margin-right: 10%;
            margin-top: 8%;
          }

          #salad-one {
            margin-top: 10%;
          }
          #card-two {
            @include recommended-cards();
            width: 45%;
            text-align: center;
            h2 {
              @include card-content-title();
              font-weight: bold;
              text-align: center;
              letter-spacing: -0.01em;
            }
            #money-vector {
              float: left;
            }
            #plus-button {
              float: right;
            }
            #salad-two {
              margin-top: 10%;
            }
          }
        }
      }
      .popular-area {
        width: 100%;
        margin-top: 15%;

        #subtitle {
          font-family: "josefin-sans", sans-serif;
          letter-spacing: -0.01em;
          font-weight: bold;
          font-size: 140%;
          margin-right: 8%;
          display: inline-block;
        }
        h3 {
          display: inline-block;
          font-family: "josefin-sans", sans-serif;
          letter-spacing: -0.01em;
        }
        #popular-session {
          margin-right: 9%;
        }
        #new-combo-session {
          margin-right: 9%;
        }
        .cards {
          width: 100%;
          height: 10.4rem;
          margin-top: 9%;
          text-align: center;
          #card-one {
            @include recommended-cards();
            text-align: center;
            float: left;
            // text-align: center;
            // width: 43%;
            // height: 100%;
            // float: left;
            // border-radius: 16px;
            // padding-left: 2%;
            // padding-right: 2%;
            // background-color: #fffaeb;
            // margin-right: 6%;
            h2 {
              font-family: "josefin-sans", sans-serif;
              font-size: 1rem;
              margin-top: 4%;
              font-weight: bold;
              text-align: center;
              letter-spacing: -0.01em;
              margin-bottom: 2%;
            }

            #fav-icon {
              float: right;
              margin-right: 10%;
              margin-top: 8%;
            }

            #quinoa-salad {
              margin-top: 10%;
              text-align: center;
            }
            #money-vector {
              float: left;
            }
            #plus-button {
              float: right;
            }
            #salad-two {
              margin-top: 10%;
            }
          }
          #card-two {
            @include recommended-cards();
            text-align: center;
            // text-align: center;
            // width: 43%;
            // height: 100%;
            // float: left;
            // border-radius: 16px;
            // padding-left: 2%;
            // padding-right: 2%;
            // background-color: #fef0f0;

            #fav-icon {
              float: right;
              margin-right: 10%;
              margin-top: 8%;
            }
            #money-vector {
              float: left;
            }
            #plus-button {
              float: right;
            }
            #tropical-salad {
              margin-top: 10%;
              text-align: center;
              margin-bottom: 4%;
            }

            h2 {
              font-family: "josefin-sans", sans-serif;
              margin-top: 4%;
              font-weight: bold;
              text-align: center;
              letter-spacing: -0.01em;
              font-size: 1rem;
              text-align: center;
              margin-bottom: 2%;
            }
          }
        }
      }
    }
  }
  .input-name {
    @include text-input-box();
    margin-top: 7%;
    width: 80%;
    font-size: 0.875;
    background-image: url("../imgs/home_screen/search_vector.png");
    background-repeat: no-repeat;
    top: 50%;
    background-size: 8%;
    text-indent: 49px;
    padding: 5px 3px;
    transition: 0.3s;
    vertical-align: middle;
    margin-right: 8%;
  }
  .input-name::placeholder {
    color: #969393;
    line-height: normal;
    font-size: 0.875rem;
    position: absolute;
    left: 20.53%;
    right: 37.07%;
    top: 27.46%;
    bottom: 69.95%;
  }

  .home-container {
    background-color: #f1eff6;
  }
}

/* main page for add-to-basket screen */
.add-basket {
  background-color: #ffa451;

  .top-container {
    overflow: visible;
    width: 100%;
    height: 35%;
    border-radius: 10px;
    text-align: center;
    #back-button {
      float: left;
      margin-left: 10%;
      margin-top: 5%;
    }
    #quinoa-salad {
      margin: 10% auto;
    }
    .back-area {
      width: 100%;
      height: 4.1%;
      position: absolute;
    }
    .selected-item {
      width: 100%;
      height: 10px;
      position: absolute;
    }
  }
  .botton-container {
    width: 100%;
    height: 65%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    h2 {
      font-family: "josefin-sans", sans-serif;
      font-size: 1.8rem;
      margin-left: 7%;
      margin-right: 7%;
      padding-top: 8%;
    }

    .quantity-control {
      width: 100%;
      height: 8%;
      margin-top: 5%;
      border-bottom: 1px solid #f3f3f3;
      padding-bottom: 6%;

      #decres-button {
        display: inline-block;
        text-align: center;
        margin-top: 0.7%;
        margin-right: 2%;
        margin-left: 6%;
      }
      #item-quantity {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 2%;
        vertical-align: middle;
        margin-top: -5%;
      }
      #acres-button {
        display: inline-block;
        margin-top: 0.7%;
      }
      #value-sign {
        float: right;
        margin-top: 0.9%;
      }
      #total-value {
        float: right;
        margin-right: 6%;
        font-size: 1.5rem;
        margin-left: 4%;
      }
    }
    .order-details {
      height: 32%;
      border-bottom: 1px solid #f3f3f3;
      .order-contains {
        #order-title {
          width: 48%;
          font-size: 1.25rem;
          border-bottom: 2px solid #ffa451;
        }
        p {
          font-size: 1rem;
          letter-spacing: -0.01em;
          font-weight: 500;
          margin-left: 6%;
          margin-top: 4%;
        }
      }
    }
    .botton-info {
      width: 100%;
      height: 41%;

      p {
        margin-left: 6%;
        margin-right: 10%;
        padding-top: 10%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
        margin-bottom: 10%;
      }
      button {
        color: white;
        background-color: $main-color;
        border-radius: 10px;
        width: 40%;
        height: 3.5rem;
        font-family: "josefin-sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border: none;
        float: right;
      }
      .extra-information {
        margin-right: 6%;
        margin-left: 6%;
      }
    }
  }
}

/* main da página Order List */
#order-list {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  header {
    background-color: #ffa451;
    width: 100%;
    height: 20%;
    #back-button {
      margin-left: 6%;
      margin-right: 11%;
      margin-top: 15%;
    }
    h2 {
      color: white;
      font-family: "josefin-sans", sans-serif;
      font-size: 1.5rem;
      display: inline-block;
    }
  }
  .cards {
    width: 100%;
    height: 100%;
    margin-left: 6%;

    h2 {
      font-size: 1rem;
      font-family: "josefin-sans", sans-serif;
      display: inline-block;
      margin-top: 10%;
      position: absolute;
    }
    #melon {
      margin-top: 6.5%;
    }
    #tropical {
      margin-top: 6.5%;
    }
    .card-one {
      width: 87%;
      height: 15%;
      border-bottom: 1px solid #f3f3f3;
      img {
        display: inline-block;
        margin-top: 10%;
        margin-right: 4%;
      }
      #value-sign {
        float: right;
        margin-top: 14%;
      }
      #item-value {
        float: right;
        display: inline;
        margin-top: 14%;
        font-family: "josefin-sans", sans-serif;
      }
      #qtd {
        display: inline-block;
        position: absolute;
        margin-top: 16%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
      }
    }
    .card-two {
      width: 87%;
      height: 15%;
      border-bottom: 1px solid #f3f3f3;
      img {
        display: inline-block;
        margin-top: 7%;
        margin-right: 4%;
      }
      #value-sign {
        float: right;
        margin-top: 14%;
      }
      #item-value {
        float: right;
        display: inline;
        margin-top: 14%;
        font-family: "josefin-sans", sans-serif;
      }
      #qtd {
        display: inline-block;
        position: absolute;
        margin-top: 13%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
      }
    }
    .card-three {
      width: 87%;
      height: 15%;
      img {
        display: inline-block;
        margin-top: 7%;
        margin-right: 4%;
      }
      #value-sign {
        float: right;
        margin-top: 14%;
      }
      #item-value {
        float: right;
        display: inline;
        margin-top: 14%;
        font-family: "josefin-sans", sans-serif;
      }
      #qtd {
        display: inline-block;
        position: absolute;
        margin-top: 13%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
      }
    }
    .teste-container {
      height: 33%;
      margin-top: 10%;
      button {
        color: white;
        background-color: $main-color;
        border-radius: 10px;
        width: 40%;
        height: 3.5rem;
        font-family: "josefin-sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border: none;
        float: right;
        margin-right: 12%;
        margin-top: 25%;
      }
      #total {
        font-size: 1rem;
        font-family: "josefin-sans", sans-serif;
        padding-top: 25%;
        float: left;
        position: absolute;
      }
      #value {
        padding-top: 5%;
        float: left;
        padding-top: 31%;
        position: absolute;
      }
      #value-total {
        font-size: 1.5rem;
        font-family: "josefin-sans", sans-serif;
        padding-top: 30.5%;
        padding-left: 20%;
      }
    }
  }
  .cards-details-page {
    width: 100%;
    height: 100%;
    margin-left: 6%;

    h2 {
      font-size: 1rem;
      font-family: "josefin-sans", sans-serif;
      display: inline-block;
      margin-top: 10%;
      position: absolute;
    }
    #melon {
      margin-top: 6.5%;
    }
    #tropical {
      margin-top: 6.5%;
    }
    .card-one {
      width: 87%;
      height: 15%;
      border-bottom: 1px solid #f3f3f3;
      img {
        display: inline-block;
        margin-top: 10%;
        margin-right: 4%;
      }
      #value-sign {
        float: right;
        margin-top: 14%;
      }
      #item-value {
        float: right;
        display: inline;
        margin-top: 14%;
        font-family: "josefin-sans", sans-serif;
      }
      #qtd {
        display: inline-block;
        position: absolute;
        margin-top: 16%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
      }
    }
    .card-two {
      width: 87%;
      height: 15%;
      border-bottom: 1px solid #f3f3f3;
      img {
        display: inline-block;
        margin-top: 7%;
        margin-right: 4%;
      }
      #value-sign {
        float: right;
        margin-top: 14%;
      }
      #item-value {
        float: right;
        display: inline;
        margin-top: 14%;
        font-family: "josefin-sans", sans-serif;
      }
      #qtd {
        display: inline-block;
        position: absolute;
        margin-top: 13%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
      }
    }
    .popup-content {
      width: 100%;
      height: 100%;
      margin-left: -6%;
      border-radius: 30px;
      margin-top: 9%;
      img {
        display: inline-block;
        margin-top: 7%;
        margin-right: 4%;
      }
      #value-sign {
        float: right;
        margin-top: 14%;
      }
      #item-value {
        float: right;
        display: inline;
        margin-top: 14%;
        font-family: "josefin-sans", sans-serif;
      }
      #qtd {
        display: inline-block;
        position: absolute;
        margin-top: 13%;
        font-size: 0.875rem;
        font-family: "josefin-sans", sans-serif;
      }
    }
    .teste-container {
      height: 33%;
      margin-top: 10%;
      button {
        color: white;
        background-color: $main-color;
        border-radius: 10px;
        width: 40%;
        height: 3.5rem;
        font-family: "josefin-sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border: none;
        float: right;
        margin-right: 12%;
        margin-top: 25%;
      }
      #total {
        font-size: 1rem;
        font-family: "josefin-sans", sans-serif;
        padding-top: 25%;
        float: left;
        position: absolute;
      }
      #value {
        padding-top: 5%;
        float: left;
        padding-top: 31%;
        position: absolute;
      }
      #value-total {
        font-size: 1.5rem;
        font-family: "josefin-sans", sans-serif;
        padding-top: 30.5%;
        padding-left: 20%;
      }
    }
  }
  .teste-container {
    width: 100%;
    height: 23%;
  }
  // .checkout-area{
  //   width: 100%;
  //   height: 100%;
  //   background-color: red;
  // }
}
body {
  height: 100vh;
  .darker-background {
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    position: absolute;
    opacity: 0.8;
  }
  #cancel-button {
    z-index: 12;
    position: absolute;
    opacity: 1;
    // top: 48%;
    // padding-left: 45%;
    // margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .popup {
    width: 100%;
    position: absolute;
    opacity: 1;
    height: 50%;
    top: 56.9%;
    z-index: 11;
    background-color: white;
    border-radius: 30px;

    #title {
      font-size: 1.25rem;
      font-family: "josefin-sans", sans-serif;
      margin-left: 6%;
      margin-right: 6%;
      margin-top: 10%;
      margin-bottom: 6%;
      font-weight: 550;
    }
    input {
      @include text-input-box();
      margin-left: 6%;
      margin-right: 6%;
      width: 80%;
    }
    #button-left {
      color: $main-color;
      background-color: white;
      border-radius: 10px;
      width: 40%;
      height: 3.5rem;
      font-family: "josefin-sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid;
      border-color: $main-color;
      border-radius: 10px;
      float: left;
      margin-left: 6%;
      margin-top: 6%;
      cursor: pointer;
    }
    #button-right {
      color: $main-color;
      background-color: white;
      border-radius: 10px;
      width: 40%;
      height: 3.5rem;
      font-family: "josefin-sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid;
      border-color: $main-color;
      border-radius: 10px;
      float: right;
      margin-right: 6%;
      margin-top: 6%;
      cursor: pointer;
    }
  }
  #order-complete-page {
    width: 100%;
    height: 100vh;
    text-align: center;

    img {
      margin-top: 35%;
      margin-bottom: 10%;
    }
    h2 {
      font-family: "josefin-sans", sans-serif;
      font-size: 2rem;
      margin-bottom: 5%;
    }
    p {
      font-family: "josefin-sans", sans-serif;
      font-size: 1.25rem;
      margin-bottom: 20%;
    }
    #button-top {
      color: white;
      background-color: $main-color;
      border-radius: 10px;
      width: 40%;
      height: 3.5rem;
      font-family: "josefin-sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      border: none;
      float: none;
      display: block;
      -ms-transform: translate(-50%, -50%);
      transform: translate(75%, -20%);
      margin-bottom: 15%;
    }
    #button-botton {
      color: $main-color;
      background-color: white;
      border-radius: 10px;
      width: 50%;
      height: 3.5rem;
      font-family: "josefin-sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid;
      border-color: $main-color;
      border-radius: 10px;
      float: none;
      display: block;
      -ms-transform: translate(-50%, -50%);
      transform: translate(49%, -20%);
    }
  }
  #main-track-order-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    header {
      width: 100%;
      height: 20%;
      background-color: #ffa451;
      margin-bottom: 10%;

      img {
        margin-top: 15%;
        margin-left: 9%;
        margin-right: 4%;
        margin-right: 10%;
        display: inline-block;
      }
      h2 {
        font-family: "josefin-sans", sans-serif;
        color: white;
        font-size: 1.5rem;
        display: inline;
      }
    }
    .test-container {
      position: inherit;
      display: block;
      width: 88%;
      height: 80%;
      background-color: white;
      margin-left: 6%;

      .boxes {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .left-content {
          width: auto;
          height: 46.4%;
          display: inline-block;
          vertical-align: top;
        }
        .center-content {
          width: auto;
          height: 46.4%;
          display: inline-block;
          vertical-align: top;

          h2 {
            font-size: 1rem;
            font-family: "josefin-sans", sans-serif;
            font-weight: 600;

            strong {
              font-size: 0.875rem;
              font-family: "josefin-sans", sans-serif;
              font-weight: 500;
            }
          }
        }
        .right-content {
          width: auto;
          height: 46.4%;
          display: inline-block;
          float: right;
        }
        .map-content {
          display: inline-block;
          margin: 0;
          width: 100%;
          height: auto;

          img {
            float: left;
            min-width: 50%;
            min-height: 70%;
          }
        }
        .botton-content {
          width: 100%;
          height: 20%;
          display: inline-block;

          .left-content {
            width: auto;
            height: auto;
            display: inline-block;
          }
          .center-content {
            width: auto;
            height: 100%;
            display: inline-block;
            h2 {
              font-family: "josefin-sans", sans-serif;
              font-size: 1rem;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}
