@import "./utilities/mixins";
@import "./style.css";
@import "./utilities/variables";

main {
  .container {
    height: 100%;
    width: 100%;
    .vector-logo {
      @include image-vector();
    }
    .fruits-vector {
      @include baskets-vectors();
    }
    .orange-background {
      @include upper-background();
    }
    .white-background {
      @include lower-background();
      .content {
        margin-left: 6%;
        margin-right: 6%;
        h1 {
          @include title-font();
        }
        p {
          font-family: "josefin-sans", sans-serif;
          font-style: normal;
          color: $second-color;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          margin-top: 1rem;

          /* or 150% */
          display: flex;
          align-items: flex-end;
          letter-spacing: -0.01em;
        }
        .input-texto {
          margin-top: 5%;
          width: 94%;
          .input-name {
            @include text-input-box();
          }
          .input-name::placeholder {
            color: #969393;
            line-height: normal;
            font-size: 1.1rem;
          }

          // .input-name:read-only {
          //   color: #c2bdbd;
          //   text-align: left;
          //   padding-left: 1.3rem;
          //   font-size: 1rem;
          // }
        }

        button {
          color: white;
          background-color: $main-color;
          border-radius: 10px;
          width: 100%;
          height: 3.5rem;
          font-family: "josefin-sans", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-top: 15%;
          border: none;
        }
      }
    }
    header {
      margin-left: 6%;
      margin-right: 6%;
      margin-top: 5%;
      .image {
        height: 3.4rem;
        #menu {
          display: inline-block;
          position: relative;
          top: 30%;
        }
        #basket {
          float: right;
          position: relative;
          top: 13%;
        }
      }
      p {
        font-family: "josefin-sans", sans-serif;
        letter-spacing: -0.01em;
        strong {
          font-weight: bold;
          font-family: "josefin-sans", sans-serif;
        }
      }
    }
    #filter-option {
      vertical-align: middle;
      display: inline-block;
      margin-top: 6%;
    }
  }
  .input-name {
    @include text-input-box();
    margin-top: 7%;
    width: 80%;
    font-size: 0.875;
    background-image: url("../imgs/home_screen/search_vector.png");
    background-repeat: no-repeat;
    top: 50%;
    background-size: 8%;
    text-indent: 49px;
    padding: 5px 3px;
    transition: 0.3s;
    vertical-align: middle;
    margin-right: 8%;
  }
  .input-name::placeholder {
    color: #969393;
    line-height: normal;
    font-size: 0.875rem;
    position: absolute;
    left: 20.53%;
    right: 37.07%;
    top: 27.46%;
    bottom: 69.95%;
  }
}
