@charset "UTF-8";
@import "./style.css";
body {
  height: 100vh;
}

main {
  height: 100vh;
}
main .container {
  height: 100vh;
  position: absolute;
  width: 100%;
}
main .container .vector-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .container .fruits-vector {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -85%);
}
main .container .orange-background {
  background-color: #ffa451;
  position: fixed;
  height: 60%;
  width: 100%;
}
main .container .white-background {
  background-color: #ffa451;
  position: fixed;
  height: 60%;
  width: 100%;
  background-color: white;
  top: 60%;
}
main .container .white-background .content {
  margin-left: 6%;
  margin-right: 6%;
}
main .container .white-background .content h1 {
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  margin-top: 3rem;
}
main .container .white-background .content p {
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  color: #5d577e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 1rem;
  /* or 150% */
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.01em;
}
main .container .white-background .content .input-texto {
  margin-top: 5%;
  width: 94%;
}
main .container .white-background .content .input-texto .input-name {
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  background: #f3f1f1;
  border: none;
  padding-left: 6%;
  font-family: "josefin-sans", sans-serif;
  font-size: 1.2rem;
}
main .container .white-background .content .input-texto .input-name::-moz-placeholder {
  color: #969393;
  line-height: normal;
  font-size: 1.1rem;
}
main .container .white-background .content .input-texto .input-name:-ms-input-placeholder {
  color: #969393;
  line-height: normal;
  font-size: 1.1rem;
}
main .container .white-background .content .input-texto .input-name::placeholder {
  color: #969393;
  line-height: normal;
  font-size: 1.1rem;
}
main .container .white-background .content button {
  color: white;
  background-color: #ffa451;
  border-radius: 10px;
  width: 100%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15%;
  border: none;
}
main .container .container-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(184deg, rgb(255, 255, 255) 70%, rgb(241, 239, 246) 100%);
  padding-bottom: 19%;
  padding-top: 2%;
}
main .container header {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 5%;
}
main .container header .image {
  height: 3.4rem;
}
main .container header .image #menu {
  display: inline-block;
  position: relative;
  top: 30%;
}
main .container header .image #basket {
  float: right;
  position: relative;
  top: 13%;
}
main .container header p {
  font-family: "josefin-sans", sans-serif;
  letter-spacing: -0.01em;
}
main .container header p strong {
  font-weight: bold;
  font-family: "josefin-sans", sans-serif;
}
main .container #filter-option {
  vertical-align: middle;
  display: inline-block;
  margin-top: 6%;
}
main .container .container-conteudo {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: -15%;
}
main .container .container-conteudo .recommended-area h2 {
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  margin-top: 3rem;
}
main .container .container-conteudo .recommended-area .cards {
  margin-top: 4%;
  width: 100%;
  height: 11.438rem;
}
main .container .container-conteudo .recommended-area .cards #card-one {
  width: 43%;
  height: 100%;
  background-color: white;
  float: right;
  border-radius: 16px;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  text-align: center;
}
main .container .container-conteudo .recommended-area .cards #card-one h2 {
  font-family: "josefin-sans", sans-serif;
  font-size: 1rem;
  margin-top: 4%;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.01em;
}
main .container .container-conteudo .recommended-area .cards #card-one #money-vector {
  float: left;
}
main .container .container-conteudo .recommended-area .cards #card-one #plus-button {
  float: right;
}
main .container .container-conteudo .recommended-area .cards #fav-icon {
  float: right;
  margin-right: 10%;
  margin-top: 8%;
}
main .container .container-conteudo .recommended-area .cards #salad-one {
  margin-top: 10%;
}
main .container .container-conteudo .recommended-area .cards #card-two {
  width: 43%;
  height: 100%;
  background-color: white;
  float: right;
  border-radius: 16px;
  padding-left: 2%;
  padding-right: 2%;
  width: 45%;
  text-align: center;
}
main .container .container-conteudo .recommended-area .cards #card-two h2 {
  font-family: "josefin-sans", sans-serif;
  font-size: 1rem;
  margin-top: 4%;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.01em;
}
main .container .container-conteudo .recommended-area .cards #card-two #money-vector {
  float: left;
}
main .container .container-conteudo .recommended-area .cards #card-two #plus-button {
  float: right;
}
main .container .container-conteudo .recommended-area .cards #card-two #salad-two {
  margin-top: 10%;
}
main .container .container-conteudo .popular-area {
  width: 100%;
  margin-top: 15%;
}
main .container .container-conteudo .popular-area #subtitle {
  font-family: "josefin-sans", sans-serif;
  letter-spacing: -0.01em;
  font-weight: bold;
  font-size: 140%;
  margin-right: 8%;
  display: inline-block;
}
main .container .container-conteudo .popular-area h3 {
  display: inline-block;
  font-family: "josefin-sans", sans-serif;
  letter-spacing: -0.01em;
}
main .container .container-conteudo .popular-area #popular-session {
  margin-right: 9%;
}
main .container .container-conteudo .popular-area #new-combo-session {
  margin-right: 9%;
}
main .container .container-conteudo .popular-area .cards {
  width: 100%;
  height: 10.4rem;
  margin-top: 9%;
  text-align: center;
}
main .container .container-conteudo .popular-area .cards #card-one {
  width: 43%;
  height: 100%;
  background-color: white;
  float: right;
  border-radius: 16px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  float: left;
}
main .container .container-conteudo .popular-area .cards #card-one h2 {
  font-family: "josefin-sans", sans-serif;
  font-size: 1rem;
  margin-top: 4%;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 2%;
}
main .container .container-conteudo .popular-area .cards #card-one #fav-icon {
  float: right;
  margin-right: 10%;
  margin-top: 8%;
}
main .container .container-conteudo .popular-area .cards #card-one #quinoa-salad {
  margin-top: 10%;
  text-align: center;
}
main .container .container-conteudo .popular-area .cards #card-one #money-vector {
  float: left;
}
main .container .container-conteudo .popular-area .cards #card-one #plus-button {
  float: right;
}
main .container .container-conteudo .popular-area .cards #card-one #salad-two {
  margin-top: 10%;
}
main .container .container-conteudo .popular-area .cards #card-two {
  width: 43%;
  height: 100%;
  background-color: white;
  float: right;
  border-radius: 16px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}
main .container .container-conteudo .popular-area .cards #card-two #fav-icon {
  float: right;
  margin-right: 10%;
  margin-top: 8%;
}
main .container .container-conteudo .popular-area .cards #card-two #money-vector {
  float: left;
}
main .container .container-conteudo .popular-area .cards #card-two #plus-button {
  float: right;
}
main .container .container-conteudo .popular-area .cards #card-two #tropical-salad {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 4%;
}
main .container .container-conteudo .popular-area .cards #card-two h2 {
  font-family: "josefin-sans", sans-serif;
  margin-top: 4%;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.01em;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2%;
}
main .input-name {
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  background: #f3f1f1;
  border: none;
  padding-left: 6%;
  font-family: "josefin-sans", sans-serif;
  font-size: 1.2rem;
  margin-top: 7%;
  width: 80%;
  font-size: 0.875;
  background-image: url("../imgs/home_screen/search_vector.png");
  background-repeat: no-repeat;
  top: 50%;
  background-size: 8%;
  text-indent: 49px;
  padding: 5px 3px;
  transition: 0.3s;
  vertical-align: middle;
  margin-right: 8%;
}
main .input-name::-moz-placeholder {
  color: #969393;
  line-height: normal;
  font-size: 0.875rem;
  position: absolute;
  left: 20.53%;
  right: 37.07%;
  top: 27.46%;
  bottom: 69.95%;
}
main .input-name:-ms-input-placeholder {
  color: #969393;
  line-height: normal;
  font-size: 0.875rem;
  position: absolute;
  left: 20.53%;
  right: 37.07%;
  top: 27.46%;
  bottom: 69.95%;
}
main .input-name::placeholder {
  color: #969393;
  line-height: normal;
  font-size: 0.875rem;
  position: absolute;
  left: 20.53%;
  right: 37.07%;
  top: 27.46%;
  bottom: 69.95%;
}
main .home-container {
  background-color: #f1eff6;
}

/* main page for add-to-basket screen */
.add-basket {
  background-color: #ffa451;
}
.add-basket .top-container {
  overflow: visible;
  width: 100%;
  height: 35%;
  border-radius: 10px;
  text-align: center;
}
.add-basket .top-container #back-button {
  float: left;
  margin-left: 10%;
  margin-top: 5%;
}
.add-basket .top-container #quinoa-salad {
  margin: 10% auto;
}
.add-basket .top-container .back-area {
  width: 100%;
  height: 4.1%;
  position: absolute;
}
.add-basket .top-container .selected-item {
  width: 100%;
  height: 10px;
  position: absolute;
}
.add-basket .botton-container {
  width: 100%;
  height: 65%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.add-basket .botton-container h2 {
  font-family: "josefin-sans", sans-serif;
  font-size: 1.8rem;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 8%;
}
.add-basket .botton-container .quantity-control {
  width: 100%;
  height: 8%;
  margin-top: 5%;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 6%;
}
.add-basket .botton-container .quantity-control #decres-button {
  display: inline-block;
  text-align: center;
  margin-top: 0.7%;
  margin-right: 2%;
  margin-left: 6%;
}
.add-basket .botton-container .quantity-control #item-quantity {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 2%;
  vertical-align: middle;
  margin-top: -5%;
}
.add-basket .botton-container .quantity-control #acres-button {
  display: inline-block;
  margin-top: 0.7%;
}
.add-basket .botton-container .quantity-control #value-sign {
  float: right;
  margin-top: 0.9%;
}
.add-basket .botton-container .quantity-control #total-value {
  float: right;
  margin-right: 6%;
  font-size: 1.5rem;
  margin-left: 4%;
}
.add-basket .botton-container .order-details {
  height: 32%;
  border-bottom: 1px solid #f3f3f3;
}
.add-basket .botton-container .order-details .order-contains #order-title {
  width: 48%;
  font-size: 1.25rem;
  border-bottom: 2px solid #ffa451;
}
.add-basket .botton-container .order-details .order-contains p {
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-weight: 500;
  margin-left: 6%;
  margin-top: 4%;
}
.add-basket .botton-container .botton-info {
  width: 100%;
  height: 41%;
}
.add-basket .botton-container .botton-info p {
  margin-left: 6%;
  margin-right: 10%;
  padding-top: 10%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
  margin-bottom: 10%;
}
.add-basket .botton-container .botton-info button {
  color: white;
  background-color: #ffa451;
  border-radius: 10px;
  width: 40%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  float: right;
}
.add-basket .botton-container .botton-info .extra-information {
  margin-right: 6%;
  margin-left: 6%;
}

/* main da página Order List */
#order-list {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#order-list header {
  background-color: #ffa451;
  width: 100%;
  height: 20%;
}
#order-list header #back-button {
  margin-left: 6%;
  margin-right: 11%;
  margin-top: 15%;
}
#order-list header h2 {
  color: white;
  font-family: "josefin-sans", sans-serif;
  font-size: 1.5rem;
  display: inline-block;
}
#order-list .cards {
  width: 100%;
  height: 100%;
  margin-left: 6%;
}
#order-list .cards h2 {
  font-size: 1rem;
  font-family: "josefin-sans", sans-serif;
  display: inline-block;
  margin-top: 10%;
  position: absolute;
}
#order-list .cards #melon {
  margin-top: 6.5%;
}
#order-list .cards #tropical {
  margin-top: 6.5%;
}
#order-list .cards .card-one {
  width: 87%;
  height: 15%;
  border-bottom: 1px solid #f3f3f3;
}
#order-list .cards .card-one img {
  display: inline-block;
  margin-top: 10%;
  margin-right: 4%;
}
#order-list .cards .card-one #value-sign {
  float: right;
  margin-top: 14%;
}
#order-list .cards .card-one #item-value {
  float: right;
  display: inline;
  margin-top: 14%;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards .card-one #qtd {
  display: inline-block;
  position: absolute;
  margin-top: 16%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards .card-two {
  width: 87%;
  height: 15%;
  border-bottom: 1px solid #f3f3f3;
}
#order-list .cards .card-two img {
  display: inline-block;
  margin-top: 7%;
  margin-right: 4%;
}
#order-list .cards .card-two #value-sign {
  float: right;
  margin-top: 14%;
}
#order-list .cards .card-two #item-value {
  float: right;
  display: inline;
  margin-top: 14%;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards .card-two #qtd {
  display: inline-block;
  position: absolute;
  margin-top: 13%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards .card-three {
  width: 87%;
  height: 15%;
}
#order-list .cards .card-three img {
  display: inline-block;
  margin-top: 7%;
  margin-right: 4%;
}
#order-list .cards .card-three #value-sign {
  float: right;
  margin-top: 14%;
}
#order-list .cards .card-three #item-value {
  float: right;
  display: inline;
  margin-top: 14%;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards .card-three #qtd {
  display: inline-block;
  position: absolute;
  margin-top: 13%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards .teste-container {
  height: 33%;
  margin-top: 10%;
}
#order-list .cards .teste-container button {
  color: white;
  background-color: #ffa451;
  border-radius: 10px;
  width: 40%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  float: right;
  margin-right: 12%;
  margin-top: 25%;
}
#order-list .cards .teste-container #total {
  font-size: 1rem;
  font-family: "josefin-sans", sans-serif;
  padding-top: 25%;
  float: left;
  position: absolute;
}
#order-list .cards .teste-container #value {
  padding-top: 5%;
  float: left;
  padding-top: 31%;
  position: absolute;
}
#order-list .cards .teste-container #value-total {
  font-size: 1.5rem;
  font-family: "josefin-sans", sans-serif;
  padding-top: 30.5%;
  padding-left: 20%;
}
#order-list .cards-details-page {
  width: 100%;
  height: 100%;
  margin-left: 6%;
}
#order-list .cards-details-page h2 {
  font-size: 1rem;
  font-family: "josefin-sans", sans-serif;
  display: inline-block;
  margin-top: 10%;
  position: absolute;
}
#order-list .cards-details-page #melon {
  margin-top: 6.5%;
}
#order-list .cards-details-page #tropical {
  margin-top: 6.5%;
}
#order-list .cards-details-page .card-one {
  width: 87%;
  height: 15%;
  border-bottom: 1px solid #f3f3f3;
}
#order-list .cards-details-page .card-one img {
  display: inline-block;
  margin-top: 10%;
  margin-right: 4%;
}
#order-list .cards-details-page .card-one #value-sign {
  float: right;
  margin-top: 14%;
}
#order-list .cards-details-page .card-one #item-value {
  float: right;
  display: inline;
  margin-top: 14%;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards-details-page .card-one #qtd {
  display: inline-block;
  position: absolute;
  margin-top: 16%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards-details-page .card-two {
  width: 87%;
  height: 15%;
  border-bottom: 1px solid #f3f3f3;
}
#order-list .cards-details-page .card-two img {
  display: inline-block;
  margin-top: 7%;
  margin-right: 4%;
}
#order-list .cards-details-page .card-two #value-sign {
  float: right;
  margin-top: 14%;
}
#order-list .cards-details-page .card-two #item-value {
  float: right;
  display: inline;
  margin-top: 14%;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards-details-page .card-two #qtd {
  display: inline-block;
  position: absolute;
  margin-top: 13%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards-details-page .popup-content {
  width: 100%;
  height: 100%;
  margin-left: -6%;
  border-radius: 30px;
  margin-top: 9%;
}
#order-list .cards-details-page .popup-content img {
  display: inline-block;
  margin-top: 7%;
  margin-right: 4%;
}
#order-list .cards-details-page .popup-content #value-sign {
  float: right;
  margin-top: 14%;
}
#order-list .cards-details-page .popup-content #item-value {
  float: right;
  display: inline;
  margin-top: 14%;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards-details-page .popup-content #qtd {
  display: inline-block;
  position: absolute;
  margin-top: 13%;
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
}
#order-list .cards-details-page .teste-container {
  height: 33%;
  margin-top: 10%;
}
#order-list .cards-details-page .teste-container button {
  color: white;
  background-color: #ffa451;
  border-radius: 10px;
  width: 40%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  float: right;
  margin-right: 12%;
  margin-top: 25%;
}
#order-list .cards-details-page .teste-container #total {
  font-size: 1rem;
  font-family: "josefin-sans", sans-serif;
  padding-top: 25%;
  float: left;
  position: absolute;
}
#order-list .cards-details-page .teste-container #value {
  padding-top: 5%;
  float: left;
  padding-top: 31%;
  position: absolute;
}
#order-list .cards-details-page .teste-container #value-total {
  font-size: 1.5rem;
  font-family: "josefin-sans", sans-serif;
  padding-top: 30.5%;
  padding-left: 20%;
}
#order-list .teste-container {
  width: 100%;
  height: 23%;
}

body {
  height: 100vh;
}
body .darker-background {
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  position: absolute;
  opacity: 0.8;
}
body #cancel-button {
  z-index: 12;
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
body .popup {
  width: 100%;
  position: absolute;
  opacity: 1;
  height: 50%;
  top: 56.9%;
  z-index: 11;
  background-color: white;
  border-radius: 30px;
}
body .popup #title {
  font-size: 1.25rem;
  font-family: "josefin-sans", sans-serif;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 10%;
  margin-bottom: 6%;
  font-weight: 550;
}
body .popup input {
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  background: #f3f1f1;
  border: none;
  padding-left: 6%;
  font-family: "josefin-sans", sans-serif;
  font-size: 1.2rem;
  margin-left: 6%;
  margin-right: 6%;
  width: 80%;
}
body .popup #button-left {
  color: #ffa451;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  border-color: #ffa451;
  border-radius: 10px;
  float: left;
  margin-left: 6%;
  margin-top: 6%;
  cursor: pointer;
}
body .popup #button-right {
  color: #ffa451;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  border-color: #ffa451;
  border-radius: 10px;
  float: right;
  margin-right: 6%;
  margin-top: 6%;
  cursor: pointer;
}
body #order-complete-page {
  width: 100%;
  height: 100vh;
  text-align: center;
}
body #order-complete-page img {
  margin-top: 35%;
  margin-bottom: 10%;
}
body #order-complete-page h2 {
  font-family: "josefin-sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 5%;
}
body #order-complete-page p {
  font-family: "josefin-sans", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 20%;
}
body #order-complete-page #button-top {
  color: white;
  background-color: #ffa451;
  border-radius: 10px;
  width: 40%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  float: none;
  display: block;
  transform: translate(75%, -20%);
  margin-bottom: 15%;
}
body #order-complete-page #button-botton {
  color: #ffa451;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 3.5rem;
  font-family: "josefin-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  border-color: #ffa451;
  border-radius: 10px;
  float: none;
  display: block;
  transform: translate(49%, -20%);
}
body #main-track-order-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body #main-track-order-page header {
  width: 100%;
  height: 20%;
  background-color: #ffa451;
  margin-bottom: 10%;
}
body #main-track-order-page header img {
  margin-top: 15%;
  margin-left: 9%;
  margin-right: 4%;
  margin-right: 10%;
  display: inline-block;
}
body #main-track-order-page header h2 {
  font-family: "josefin-sans", sans-serif;
  color: white;
  font-size: 1.5rem;
  display: inline;
}
body #main-track-order-page .test-container {
  position: inherit;
  display: block;
  width: 88%;
  height: 80%;
  background-color: white;
  margin-left: 6%;
}
body #main-track-order-page .test-container .boxes {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #main-track-order-page .test-container .boxes .left-content {
  width: auto;
  height: 46.4%;
  display: inline-block;
  vertical-align: top;
}
body #main-track-order-page .test-container .boxes .center-content {
  width: auto;
  height: 46.4%;
  display: inline-block;
  vertical-align: top;
}
body #main-track-order-page .test-container .boxes .center-content h2 {
  font-size: 1rem;
  font-family: "josefin-sans", sans-serif;
  font-weight: 600;
}
body #main-track-order-page .test-container .boxes .center-content h2 strong {
  font-size: 0.875rem;
  font-family: "josefin-sans", sans-serif;
  font-weight: 500;
}
body #main-track-order-page .test-container .boxes .right-content {
  width: auto;
  height: 46.4%;
  display: inline-block;
  float: right;
}
body #main-track-order-page .test-container .boxes .map-content {
  display: inline-block;
  margin: 0;
  width: 100%;
  height: auto;
}
body #main-track-order-page .test-container .boxes .map-content img {
  float: left;
  min-width: 50%;
  min-height: 70%;
}
body #main-track-order-page .test-container .boxes .botton-content {
  width: 100%;
  height: 20%;
  display: inline-block;
}
body #main-track-order-page .test-container .boxes .botton-content .left-content {
  width: auto;
  height: auto;
  display: inline-block;
}
body #main-track-order-page .test-container .boxes .botton-content .center-content {
  width: auto;
  height: 100%;
  display: inline-block;
}
body #main-track-order-page .test-container .boxes .botton-content .center-content h2 {
  font-family: "josefin-sans", sans-serif;
  font-size: 1rem;
  vertical-align: bottom;
}/*# sourceMappingURL=style.css.map */